{
  "DEFAULT_INFLUX_SERVER": "http://{{ stats_influxdb_container_name }}:8181",
  "DEFAULT_INFLUX_DATABASE": "{{ stats_influxdb_default_database }}",
  "DEFAULT_API_TOKEN": "{{ stats_influxdb_admin_token }}",
  "DEFAULT_SERVER_NAME": "{{ stats_influxdb_default_server_name }}"
}
