---
- name: Start Immich
  block:
    - name: Create Immich Directory
      ansible.builtin.file:
        path: "{{ item }}"
        state: directory
      with_items:
        - "{{ immich_data_directory }}"
        - "{{ immich_upload_directory }}"

    - name: Create Immich network
      community.docker.docker_network:
        name: "{{ immich_network_name }}"

    - name: Immich Postgress Docker Container
      community.docker.docker_container:
        name: "{{ immich_postgres_container_name }}"
        image: "{{ immich_postgres_image }}:{{ immich_postgres_tag }}"
        pull: true
        volumes:
          - "{{ immich_data_directory }}/database:/var/lib/postgresql/data:rw"
        networks:
          - name: "{{ immich_network_name }}"
        env:
          POSTGRES_PASSWORD: "{{ immich_db_password }}"
          POSTGRES_USER: "{{ immich_db_username }}"
          POSTGRES_DB: "{{ immich_db_name }}"
          PG_DATA: /var/lib/postgresql/data
        restart_policy: always
        memory: "{{ immich_postgres_memory }}"

    - name: Immich Redis Docker Container
      community.docker.docker_container:
        name: "{{ immich_redis_container_name }}"
        image: "{{ immich_redis_image }}:{{ immich_redis_tag }}"
        pull: true
        command: --save 60 1 --loglevel warning
        volumes:
          - "{{ immich_data_directory }}/redis:/data:rw"
        networks:
          - name: "{{ immich_network_name }}"
        restart_policy: always
        memory: "{{ immich_redis_memory }}"
        healthcheck:
          test: ["CMD-SHELL", "redis-cli ping || exit 1"]
          start_period: 20s
          interval: 30s
          retries: 5
          timeout: 3s

    - name: Immich Server Docker Container
      community.docker.docker_container:
        name: "{{ immich_server_container_name }}"
        image: "{{ immich_server_image }}:{{ immich_server_tag }}"
        pull: true
        volumes:
          - "{{ immich_data_directory }}/data:/data:rw"
          - "{{ immich_upload_directory }}:/usr/src/app/upload:rw"
        networks:
          - name: "{{ immich_network_name }}"
        devices: "{{ immich_devices | default(omit) }}"
        ports:
          - "{{ immich_port }}:2283"
        env:
          PUID: "{{ immich_user_id | quote }}"
          PGID: "{{ immich_group_id | quote }}"
          NODE_ENV: "production"
          IMMICH_VERSION: "{{ immich_version }}"
          REDIS_HOSTNAME: "{{ immich_redis_container_name }}"
          DB_HOSTNAME: "{{ immich_postgres_container_name }}"
          DB_USERNAME: "{{ immich_db_username }}"
          DB_PASSWORD: "{{ immich_db_password }}"
          DB_DATABASE_NAME: "{{ immich_db_name }}"
          DB_PORT: "{{ immich_db_port }}"
          JWT_SECRET: "{{ immich_jwt_secret }}"
          ENABLE_MAPBOX: "{{ immich_enable_mapbox }}"
          MAPBOX_KEY: "{{ immich_mapbox_key }}"
          PUBLIC_LOGIN_PAGE_MESSAGE: "{{ immich_public_login_page_message }}"
        labels:
          traefik.enable: "{{ immich_available_externally | string }}"
          traefik.http.routers.immich.rule: "Host(`{{ immich_hostname }}.{{ ansible_nas_domain }}`)"
          traefik.http.routers.immich.tls.certresolver: "letsencrypt"
          traefik.http.routers.immich.tls.domains[0].main: "{{ ansible_nas_domain }}"
          traefik.http.routers.immich.tls.domains[0].sans: "*.{{ ansible_nas_domain }}"
          traefik.http.services.immich.loadbalancer.server.port: "2283"
          homepage.group: Media
          homepage.name: Immich
          homepage.icon: immich.png
          homepage.href: "https://{{ immich_hostname }}.{{ ansible_nas_domain }}"
          homepage.widget.type: immich
          homepage.widget.url: "http://{{ ansible_nas_hostname }}:{{ immich_port }}"
          homepage.widget.key: "{{ immich_api_key }}"
          homepage.widget.showStats: "false"
          homepage.widget.version: "2"
        restart_policy: unless-stopped
        memory: "{{ immich_server_memory }}"
        memory_swap: "{{ immich_server_memory }}"

    - name: Immich Machine Learning Docker Container
      community.docker.docker_container:
        name: "{{ immich_machinelearning_container_name }}"
        image: "{{ immich_machinelearning_image }}:{{ immich_machinelearning_tag }}"
        pull: true
        volumes:
          - "{{ immich_data_directory }}/model-cache:/cache"
        networks:
          - name: "{{ immich_network_name }}"
        env:
          PUID: "{{ immich_user_id | quote }}"
          PGID: "{{ immich_group_id | quote }}"
          NODE_ENV: "production"
          IMMICH_VERSION: "{{ immich_version }}"
          REDIS_HOSTNAME: "{{ immich_redis_container_name }}"
          DB_HOSTNAME: "{{ immich_postgres_container_name }}"
          DB_USERNAME: "{{ immich_db_username }}"
          DB_PASSWORD: "{{ immich_db_password }}"
          DB_DATABASE_NAME: "{{ immich_db_name }}"
          DB_PORT: "{{ immich_db_port }}"
          JWT_SECRET: "{{ immich_jwt_secret }}"
          ENABLE_MAPBOX: "{{ immich_enable_mapbox }}"
          MAPBOX_KEY: "{{ immich_mapbox_key }}"
          PUBLIC_LOGIN_PAGE_MESSAGE: "{{ immich_public_login_page_message }}"
          IMMICH_MACHINE_LEARNING_CLIP_IMAGE_MODEL: "{{ immich_machine_learning_clip_image_model }}"
        labels:
          traefik.enable: "false"
        restart_policy: unless-stopped
        memory: "{{ immich_machinelearning_memory }}"
        memory_swap: "{{ immich_machinelearning_memory }}"

    - name: Install Immich Power Tools
      block:
        - name: Immich Power Tools
          community.docker.docker_container:
            name: "{{ immich_power_tools_container_name }}"
            image: "{{ immich_power_tools_image }}:{{ immich_power_tools_tag }}"
            pull: true
            networks:
              - name: "{{ immich_network_name }}"
            network_mode: "{{ immich_network_name }}"
            container_default_behavior: no_defaults
            restart_policy: always
            memory: "{{ immich_power_tools_memory }}"
            ports:
              - "{{ immich_power_tools_port }}:3000"
            env:
              IMMICH_URL: "https://{{ immich_hostname }}.{{ ansible_nas_domain }}"
              IMMICH_API_KEY: "{{ immich_api_key }}"
              DB_USERNAME: "{{ immich_db_username }}"
              DB_PASSWORD: "{{ immich_db_password }}"
              DB_HOST: "{{ immich_postgres_container_name }}"
              DB_PORT: "{{ immich_db_port }}"
              DB_DATABASE_NAME: "{{ immich_db_name }}"
            labels:
              traefik.enable: "{{ immich_available_externally | string }}"
              traefik.http.routers.immich_power_tools.rule: "Host(`{{ immich_power_tools_hostname }}.{{ ansible_nas_domain }}`)"
              traefik.http.routers.immich_power_tools.tls.certresolver: "letsencrypt"
              traefik.http.routers.immich_power_tools.tls.domains[0].main: "{{ ansible_nas_domain }}"
              traefik.http.routers.immich_power_tools.tls.domains[0].sans: "*.{{ ansible_nas_domain }}"
              traefik.http.services.immich_power_tools.loadbalancer.server.port: "3000"
      when: immich_install_power_tools is true
  when: immich_enabled is true

- name: Stop Immich
  block:
    - name: Stop Immich Postgres
      community.docker.docker_container:
        name: "{{ immich_postgres_container_name }}"
        state: absent

    - name: Stop Immich Redis
      community.docker.docker_container:
        name: "{{ immich_redis_container_name }}"
        state: absent

    - name: Stop Immich Server
      community.docker.docker_container:
        name: "{{ immich_server_container_name }}"
        state: absent

    - name: Stop Immich Machine Learning
      community.docker.docker_container:
        name: "{{ immich_machinelearning_container_name }}"
        state: absent

    - name: Delete Immich Network
      community.docker.docker_network:
        name: "{{ immich_network_name }}"
        state: absent

    - name: Stop Immich Power Tools
      block:
        - name: Stop Immich Power Tools
          community.docker.docker_container:
            name: "{{ immich_power_tools_container_name }}"
            state: absent
      when: immich_install_power_tools is false
  when: immich_enabled is false
