---
- name: Start Filebrowser
  block:
    - name: Create Filebrowser Data Directory
      ansible.builtin.file:
        path: "{{ item }}"
        state: directory
      with_items:
        - "{{ filebrowser_db_directory }}"
        - "{{ filebrowser_config_directory }}"

    - name: Generate filebrowser.json
      ansible.builtin.template:
        src: filebrowser.json
        dest: "{{ filebrowser_config_directory }}/filebrowser.json"
      register: filebrowser_config

    - name: Generate filebrowser.db
      ansible.builtin.file:
        path: "{{ filebrowser_db_directory }}/filebrowser.db"
        state: touch
      register: filebrowser_db

    - name: Filebrowser Docker Container
      community.docker.docker_container:
        name: "{{ filebrowser_container_name }}"
        image: "{{ filebrowser_image_name }}:{{ filebrowser_image_version }}"
        pull: true
        volumes:
          - "/mnt/nas/media:/srv"
          - "{{ filebrowser_config_directory }}/filebrowser.json:/.filebrowser.json"
          - "{{ filebrowser_db_directory}}/filebrowser.db:/filebrowser.db:rw"
        ports:
          - "{{ filebrowser_port }}:80"
        restart_policy: unless-stopped
        memory: "{{ filebrowser_memory }}"
        labels:
          traefik.enable: "{{ filebrowser_available_externally | string }}"
          traefik.http.routers.filebrowser.rule: "Host(`{{ filebrowser_hostname }}.{{ ansible_nas_domain }}`)"
          traefik.http.routers.filebrowser.tls.certresolver: "letsencrypt"
          traefik.http.routers.filebrowser.tls.domains[0].main: "{{ ansible_nas_domain }}"
          traefik.http.routers.filebrowser.tls.domains[0].sans: "*.{{ ansible_nas_domain }}"
          traefik.http.services.filebrowser.loadbalancer.server.port: "80"
          homepage.group: Applications
          homepage.name: File Browser
          homepage.icon: filebrowser
          homepage.href: "http://{{ hostvars[inventory_hostname]['ansible_default_ipv4']['address'] }}:{{ filebrowser_port }}"
          homepage.description: Web file manager
  when: filebrowser_enabled is true

- name: Stop Filebrowser
  block:
    - name: Stop Filebrowser
      community.docker.docker_container:
        name: "{{ filebrowser_container_name }}"
        state: absent
  when: filebrowser_enabled is false
