---
- name: Start Graylog
  block:
    - name: Create Graylog Directories
      ansible.builtin.file:
        path: "{{ item }}"
        state: directory
        mode: "0750"
      with_items:
        - "{{ graylog_data_directory }}"
        - "{{ graylog_data_directory }}/mongodb"
        - "{{ graylog_data_directory }}/mongodb/data"
        - "{{ graylog_data_directory }}/mongodb/configdb"
        - "{{ graylog_data_directory }}/datanode"
        - "{{ graylog_data_directory }}/graylog"

    - name: Create Graylog Network
      community.docker.docker_network:
        name: "{{ graylog_network_name }}"

    - name: Create Graylog MongoDB Container
      community.docker.docker_container:
        container_default_behavior: no_defaults
        name: "{{ graylog_mongodb_container_name }}"
        image: "{{ graylog_mongodb_image_name }}:{{ graylog_mongodb_image_version }}"
        pull: true
        networks:
          - name: "{{ graylog_network_name }}"
        volumes:
          - "{{ graylog_data_directory }}/mongodb/data:/data/db:rw"
          - "{{ graylog_data_directory }}/mongodb/configdb:/data/configdb:rw"
        restart_policy: unless-stopped
        memory: "{{ graylog_mongodb_memory }}"
        labels:
          traefik.enable: "false"

    - name: Create Graylog DataNode Container
      community.docker.docker_container:
        container_default_behavior: no_defaults
        name: "{{ graylog_datanode_container_name }}"
        hostname: "datanode"
        image: "{{ graylog_datanode_image_name }}:{{ graylog_datanode_image_version }}"
        pull: true
        networks:
          - name: "{{ graylog_network_name }}"
        volumes:
          - "{{ graylog_data_directory }}/datanode:/var/lib/graylog-datanode:rw"
        env:
          GRAYLOG_DATANODE_NODE_ID_FILE: "/var/lib/graylog-datanode/node-id"
          GRAYLOG_DATANODE_PASSWORD_SECRET: "{{ graylog_password_secret }}"
          GRAYLOG_DATANODE_MONGODB_URI: "mongodb://{{ graylog_mongodb_container_name }}:27017/graylog"
        ulimits:
          - "memlock:-1:-1"
          - "nofile:65536:65536"
        restart_policy: unless-stopped
        memory: "{{ graylog_datanode_memory }}"
        labels:
          traefik.enable: "false"

    - name: Create Graylog Server Container
      community.docker.docker_container:
        container_default_behavior: no_defaults
        name: "{{ graylog_container_name }}"
        hostname: "server"
        image: "{{ graylog_image_name }}:{{ graylog_image_version }}"
        pull: true
        ports: "{{ graylog_ports }}"
        networks:
          - name: "{{ graylog_network_name }}"
        volumes:
          - "{{ graylog_data_directory }}/graylog:/usr/share/graylog/data:rw"
        env:
          GRAYLOG_NODE_ID_FILE: "/usr/share/graylog/data/data/node-id"
          GRAYLOG_PASSWORD_SECRET: "{{ graylog_password_secret }}"
          GRAYLOG_ROOT_PASSWORD_SHA2: "{{ graylog_root_password_sha2 }}"
          GRAYLOG_HTTP_BIND_ADDRESS: "0.0.0.0:9000"
          GRAYLOG_HTTP_EXTERNAL_URI: "{{ graylog_http_external_uri }}"
          GRAYLOG_MONGODB_URI: "mongodb://{{ graylog_mongodb_container_name }}:27017/graylog"
          GRAYLOG_TRANSPORT_EMAIL_ENABLED: "{{ graylog_email_enabled }}"
          GRAYLOG_TRANSPORT_EMAIL_HOSTNAME: "{{ graylog_email_hostname }}"
          GRAYLOG_TRANSPORT_EMAIL_PORT: "{{ graylog_email_port }}"
          GRAYLOG_TRANSPORT_EMAIL_USE_AUTH: "{{ graylog_email_use_auth }}"
          GRAYLOG_TRANSPORT_EMAIL_USE_TLS: "{{ graylog_email_use_tls }}"
          GRAYLOG_TRANSPORT_EMAIL_USE_SSL: "{{ graylog_email_use_ssl }}"
          GRAYLOG_TRANSPORT_EMAIL_AUTH_USERNAME: "{{ graylog_email_auth_username }}"
          GRAYLOG_TRANSPORT_EMAIL_AUTH_PASSWORD: "{{ graylog_email_auth_password }}"
          GRAYLOG_TRANSPORT_EMAIL_SUBJECT_PREFIX: "{{ graylog_email_subject_prefix }}"
          GRAYLOG_TRANSPORT_EMAIL_FROM_EMAIL: "{{ graylog_email_from_email }}"
          GRAYLOG_ROOT_TIMEZONE: "{{ ansible_nas_timezone }}"
          TZ: "{{ ansible_nas_timezone }}"
        entrypoint: "/usr/bin/tini -- /docker-entrypoint.sh"
        restart_policy: unless-stopped
        memory: "{{ graylog_memory }}"
        labels:
          traefik.enable: "{{ graylog_available_externally | string }}"
          traefik.http.routers.graylog.rule: "Host(`{{ graylog_hostname }}.{{ ansible_nas_domain }}`)"
          traefik.http.routers.graylog.tls.certresolver: "letsencrypt"
          traefik.http.routers.graylog.tls.domains[0].main: "{{ ansible_nas_domain }}"
          traefik.http.routers.graylog.tls.domains[0].sans: "*.{{ ansible_nas_domain }}"
          traefik.http.services.graylog.loadbalancer.server.port: "9000"
          homepage.group: Monitoring
          homepage.name: Graylog
          homepage.icon: graylog.png
          homepage.href: "https://{{ graylog_hostname }}.{{ ansible_nas_domain }}"
          homepage.description: Log management and analysis
  when: graylog_enabled is true

- name: Stop Graylog
  block:
    - name: Stop Graylog Server
      community.docker.docker_container:
        name: "{{ graylog_container_name }}"
        state: absent

    - name: Stop Graylog DataNode
      community.docker.docker_container:
        name: "{{ graylog_datanode_container_name }}"
        state: absent

    - name: Stop Graylog MongoDB
      community.docker.docker_container:
        name: "{{ graylog_mongodb_container_name }}"
        state: absent

    - name: Delete Graylog Network
      community.docker.docker_network:
        name: "{{ graylog_network_name }}"
        state: absent
  when: graylog_enabled is false
