http:
  middlewares:
    rate-limit:
      rateLimit:
        average: 100
        burst: 50
#    geoblock:
#      plugin:
#        GeoBlock:
#          silentStartUp: true
#         allowLocalRequests: true
#         logLocalRequests: false
#         logAllowedRequests: false
#         logApiRequests: false
#         api: "https://get.geojs.io/v1/ip/country/{ip}"
#          apiTimeoutMs: 500
#          cacheSize: 25
#          forceMonthlyUpdate: true
#          allowUnknownCountries: false
#          unknownCountryApiResponse: "nil"
#          countries:
#            - PL
#            - DE
#            - GB
#            - IE
    secure-headers:
      headers:
        stsSeconds: 63072000
        stsIncludeSubdomains: true
        stsPreload: true
        forceSTSHeader: true

{% if traefik_external_endpoints is defined and traefik_external_endpoints | length > 0 %}
  routers:
{% for endpoint in traefik_external_endpoints %}
    {{ endpoint.name }}:
      rule: "Host(`{{ endpoint.host }}`)"
      service: {{ endpoint.name }}
      entryPoints:
        - websecure
      tls:
        certResolver: letsencrypt
{% if endpoint.middlewares is defined and endpoint.middlewares | length > 0 %}
      middlewares:
{% for middleware in endpoint.middlewares %}
        - {{ middleware }}
{% endfor %}
{% endif %}
{% endfor %}

  services:
{% for endpoint in traefik_external_endpoints %}
    {{ endpoint.name }}:
      loadBalancer:
        servers:
          - url: "{{ endpoint.url }}"
{% if endpoint.passHostHeader is defined %}
        passHostHeader: {{ endpoint.passHostHeader | lower }}
{% endif %}
{% if endpoint.webrtc is defined and endpoint.webrtc %}
        serversTransport: {{ endpoint.name }}-transport
{% endif %}
{% endfor %}

{% set webrtc_endpoints = traefik_external_endpoints | selectattr('webrtc', 'defined') | selectattr('webrtc') | list %}
{% if webrtc_endpoints | length > 0 %}
  serversTransports:
{% for endpoint in webrtc_endpoints %}
    {{ endpoint.name }}-transport:
      forwardingTimeouts:
        responseHeaderTimeout: 0s
        idleConnTimeout: 180s
{% endfor %}
{% endif %}
{% endif %}
