---
- name: Start Homeassistant
  block:
    - name: Create Home Assistant network
      community.docker.docker_network:
        name: "{{ homeassistant_network_name }}"

    - name: Create directories
      ansible.builtin.file:
        path: "{{ item }}"
        state: directory
      with_items:
        - "{{ homeassistant_directory }}"
        - "{{ mosquitto_directory }}/data"
        - "{{ mosquitto_directory }}/log"
        - "{{ zigbee2mqtt_directory }}"

    - name: Prepare config
      ansible.builtin.template:
        src: "{{ item.src }}"
        dest: "{{ item.dest }}"
        mode: '0640'
      loop:
        - src: zigbee2mqtt/configuration.yaml
          dest: "{{ zigbee2mqtt_directory }}"
        - src: mosquitto/users.conf
          dest: "{{ mosquitto_directory }}/config"
        - src: mosquitto/acl.conf
          dest: "{{ mosquitto_directory }}/config"
        - src: mosquitto/mosquitto.conf
          dest: "{{ mosquitto_directory }}/config"
        - src: homeassistant/configuration.yaml
          dest: "{{ homeassistant_directory }}"
      register: homeassistant_config

    - name: Check if user defined climate config exists
      ansible.builtin.stat:
        path: "{{ inventory_dir }}/homeassistant/climate.yaml"
      register: climate_config_src
      ignore_errors: true

    - name: Copy user defined Home Assistant config (climate.yaml)
      ansible.builtin.copy:
        src: "{{ inventory_dir }}/homeassistant/climate.yaml"
        dest: "{{ homeassistant_directory }}/"
      when: climate_config_src is not failed and climate_config_src.stat.exists
      register: homeassistant_config_extra

    - name: Home Assistant Docker Container
      community.docker.docker_container:
        name: "{{ homeassistant_container_name }}"
        image: "{{ homeassistant_image_name }}:{{ homeassistant_image_version }}"
        pull: true
        volumes:
          - "{{ homeassistant_directory }}:/config:rw"
        network_mode: host
        ports:
         - "8123:8123"
        restart_policy: unless-stopped
        restart: "{{ homeassistant_config is changed or homeassistant_config_extra is changed}}"
        env:
          TZ: "{{ ansible_nas_timezone }}"
        labels:
          traefik.enable: "{{ homeassistant_available_externally | string }}"
          traefik.http.routers.homeassistant.rule: "Host(`{{ homeassistant_hostname }}.{{ ansible_nas_domain }}`)"
          traefik.http.routers.homeassistant.tls.certresolver: "letsencrypt"
          traefik.http.routers.homeassistant.tls.domains[0].main: "{{ ansible_nas_domain }}"
          traefik.http.routers.homeassistant.tls.domains[0].sans: "*.{{ ansible_nas_domain }}"
          traefik.http.services.homeassistant.loadbalancer.server.port: "8123"
          homepage.group: Home
          homepage.name: HomeAssistant
          homepage.icon: home-assistant
          homepage.href: "https://{{ homeassistant_hostname }}.{{ ansible_nas_domain }}"
          homepage.description: Home Automation
        memory: "{{ homeassistant_memory }}"

    - name: Mosquitto Docker Container
      community.docker.docker_container:
        name: "{{ mosquitto_container_name }}"
        image: "{{ mosquitto_image_name }}:{{ mosquitto_image_version }}"
        pull: true
        volumes:
          - "{{ mosquitto_directory }}/config:/mosquitto/config:rw"
          - "{{ mosquitto_directory }}/data:/mosquitto/data:rw"
          - "{{ mosquitto_directory }}/log:/mosquitto/log:rw"
        network_mode: "{{ homeassistant_network_name }}"
        ports:
          - "{{ mosquitto_port_a }}:1883"
          - "{{ mosquitto_port_b }}:9001"
        restart_policy: unless-stopped
        restart: "{{ homeassistant_config is changed }}"
        env:
          TZ: "{{ ansible_nas_timezone }}"
        memory: "{{mosquitto_memory }}"

    - name: Zigbee2Mqtt Docker Container
      community.docker.docker_container:
        name: "{{ zigbee2mqtt_container_name }}"
        image: "{{ zigbee2mqtt_image_name }}:{{ zigbee2mqtt_image_version }}"
        pull: true
        volumes:
          - "/run/udev:/run/udev:ro"
          - "{{ zigbee2mqtt_directory }}:/app/data:rw"
        devices: "/dev/serial/by-id/{{ zigbee_dongle }}:/dev/ttyACM0"
        privileged: true
        network_mode: "{{ homeassistant_network_name }}"
        ports:
          - "{{ zigbee2mqtt_port }}:8080"
        restart_policy: unless-stopped
        restart: "{{ homeassistant_config is changed }}"
        env:
          TZ: "{{ ansible_nas_timezone }}"
          ZIGBEE2MQTT_CONFIG_MQTT_SERVER : mqtt://{{ mosquitto_container_name }}
        labels:
          traefik.enable: "{{ homeassistant_available_externally | string }}"
          traefik.http.routers.zigbee2mqtt.rule: "Host(`{{ zigbee2mqtt_hostname }}.{{ ansible_nas_domain }}`)"
          traefik.http.routers.zigbee2mqtt.tls.certresolver: "letsencrypt"
          traefik.http.routers.zigbee2mqtt.tls.domains[0].main: "{{ ansible_nas_domain }}"
          traefik.http.routers.zigbee2mqtt.tls.domains[0].sans: "*.{{ ansible_nas_domain }}"
          traefik.http.services.zigbee2mqtt.loadbalancer.server.port: "8080"
          homepage.group: Home
          homepage.name: Zigbee2MQTT
          homepage.icon: zigbee2mqtt.png
          homepage.href: "https://{{ zigbee2mqtt_hostname }}.{{ ansible_nas_domain }}"
          homepage.description: Zigbee2MQTT broker
        memory: "{{ zigbee2mqtt_memory }}"

  when: homeassistant_enabled is true


- name: Stop homeassistant
  block:
    - name: Stop homeassistant
      community.docker.docker_container:
        name: "{{ homeassistant_container_name }}"
        state: absent
  when: homeassistant_enabled is false
