---
- name: Start Beszel Local
  block:
    - name: Create Beszel Hub Docker Container
      community.docker.docker_container:
        name: "{{ beszel_container_name }}"
        image: "{{ beszel_image_name }}:{{ beszel_image_version }}"
        hostname: "{{ ansible_nas_hostname }}.{{ ansible_nas_domain }}"
        state: started
        pull: true
        ports:
          - "{{ beszel_port }}:8090"
        volumes:
          - "{{ beszel_hub_data_directory }}:/beszel_data"
          - ./beszel_socket:/beszel_socket
        restart_policy: unless-stopped
        memory: "{{ beszel_memory }}"
        labels:
          traefik.enable: "{{ beszel_available_externally | string }}"
          traefik.http.routers.beszel.rule: "Host(`{{ beszel_hostname }}.{{ ansible_nas_domain }}`)"
          traefik.http.routers.beszel.tls.certresolver: "letsencrypt"
          traefik.http.routers.beszel.tls.domains[0].main: "{{ ansible_nas_domain }}"
          traefik.http.routers.beszel.tls.domains[0].sans: "*.{{ ansible_nas_domain }}"
          traefik.http.services.beszel.loadbalancer.server.port: "8090"
          homepage.group: "Monitoring"
          homepage.name: "Beszel"
          homepage.icon: "beszel"
          homepage.href: "https://{{ beszel_hostname }}.{{ ansible_nas_domain }}"
          homepage.widget.type: beszel
          homepage.widget.url: "http://{{ ansible_nas_hostname }}:{{ beszel_port }}"
          homepage.widget.username: "{{ beszel_username }}"
          homepage.widget.password: "{{ beszel_password }}"
          homepage.widget.version: "2"


    - name: Create Beszel Local Agent Docker Container
      community.docker.docker_container:
        name: "{{ beszel_agent_container_name }}"
        image: "{{ beszel_agent_image_name }}:{{ beszel_image_version }}"
        hostname: "{{ ansible_nas_hostname }}.{{ ansible_nas_domain }}"
        network_mode: host
        volumes:
          - ./beszel_agent_data:/var/lib/beszel-agent
          - ./beszel_socket:/beszel_socket
          - /var/run/docker.sock:/var/run/docker.sock:ro
        restart_policy: unless-stopped
        memory: "{{ beszel_memory }}"
        env:
           LISTEN: /beszel_socket/beszel.sock
           KEY: "{{ beszel_key }}"
  when: beszel_enabled is true

- name: Start Beszel Agent
  block:
    - name: Create Beszel Agent Docker Container
      community.docker.docker_container:
        name: "{{ beszel_agent_container_name }}"
        image: "{{ beszel_agent_image_name }}:{{ beszel_image_version }}"
        hostname: "{{ ansible_nas_hostname }}.{{ ansible_nas_domain }}"
        network_mode: host
        state: started
        pull: true
        volumes:
          - /var/run/docker.sock:/var/run/docker.sock:ro
        restart_policy: unless-stopped
        memory: "{{ beszel_memory }}"
        env:
           KEY: "{{ beszel_key }}"
  when: beszel_agent_enabled is true

- name: Stop Beszel
  block:
    - name: Remove Beszel Docker Container
      community.docker.docker_container:
        name: "{{ beszel_container_name }}"
        state: absent
  when: beszel_enabled is false
